.flex-container{
    max-width: 350px;
    border: 1px solid;
    margin-bottom: 10px;
    display: flex;
}

.align-container{
    align-items: flex-end;
}

.item{
    background-color: brown;
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}

.center{
    align-self: center;
}

.start{
    align-self: flex-start;
}

.end{
    align-self: flex-end;
}

.baseline{
    align-self: baseline;
}

.stretch{
    align-self: stretch;
}

.auto{
    align-self: auto;
}

.direction{
    flex-direction: column;
}