.flex-container{
    display: flex;
    border: 2px solid black;
    max-width: 500px;
    margin-bottom: 15px;
}
.item{
    background: orangered;
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}
.fg-1{
    flex-grow: 1;
}
.s-0{
    flex-shrink: 0;
    flex-basis: 200px;
}
.s-1{
    flex-shrink: 1;
}
.s-2{
    flex-shrink: 2;
    flex-basis: 100px;
}
.s-3{
    flex-shrink: 3;
    flex-basis: 100px;
}